.dark-theme {
    background-image: url(anime-site/black.jpg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
    color: white;
}

#sidebar {

    position:absolute;
    background: #333;
    left: -1400px;
}

#sidebar.active {
    top: 745px;
    left: 90px;
}

#sidebar ul li {
    width: 100px;
    color: white;
    font-size: 1.95em;
    list-style: none;
    box-shadow: 0px 20px 20px black;
    font-size: 1.1em;
    padding: 15px 0% 15px 15px;
    list-style-type: none;
}

/*#sidebar ul li:not(first-child){
    box-shadow: 0px 20px 20px black;
    font-size: 1.1em;
    padding: 15px 0% 15px 15px;
    list-style-type: none;
}*/

#sidebar ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 20px red, 0 0 1em yellow;
    font-size: 20px;

}

#sidebar ul {
    padding: 0px;
    margin: 0px;
}

#sidebar a:hover {text-shadow: 2px 2px 2px, 19px 10px 100em yellow;}

.toggle-btn {
    left: 20px;
    position: absolute;
    background: black;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.toggle-btn span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #408;
    margin: 4px;
}

@media screen and (max-width: 732px) {

    .toggle-btn, #sidebar.active {
        top: 770px;
    }
}

@media screen and (max-width: 628px) {

    .toggle-btn, #sidebar.active {
        top: 800px;
    }
}

@media screen and (max-width: 588px) {

    .toggle-btn, #sidebar.active {
        top: 820px;
    }
}

.toggle-btn:hover {background: #300;}
.toggle-btn:hover span {background: purple;}

.background {
    background-image: url(anime-site/anime1.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
}

.myPhoto {
    transform: translate(10%, 50%);
    border-radius: 50%;
    width: 150px;
}

hr {
    box-shadow: #FC0 1px 0 10px;
    border: 1px solid #751370;
}

.im {
    margin-top: 50px;
    margin-left: 25px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    font: 1.5em Georgia, serif;
    font-size: 40px;
}

.mySkills {
    font-size: 25px;
    margin-left: 20px;

    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.mySkillsLi li {
    margin-left: 20px;
    padding-bottom: 7px;
    font-size: 23px;

    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.aboutMe {
    margin-left: 20px;
    font-size: 25px;

    text-shadow: 3px 5px 5px;
}

.aboutMeLi li {
    margin-left: 20px;
    padding-bottom: 7px;
    font-size: 23px;

    text-shadow: 3px 5px 5px blue;
}

.contactWithMe {
    margin: 8px;
    font: 1.5em Georgia, serif;

    text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em red;
}

a:hover {
    margin-top: -5px;
    font: 1.5em Georgia, serif;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px purple, 0 0 1em yellow, 0 0 0.2em red;
}

.youtube {
    margin-left: 10px;
    text-decoration: none;
    position: absolute;
    color: red;
}

.discord {
    margin-left: 140px;
    text-shadow: 1px 1px 2px , 0 0 1em , 0 0 0.2em ;
    text-decoration: none;
    position: absolute;
    color:  #5865F2;

}

.arrow-left span {
    display: inline;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #ff3140;
    border-left: 3px solid #ff3140;
    position: absolute;
    margin: 3px 0px 130px 13px;

    animation: arrow-left 7s infinite;
}

@keyframes arrow-left {

    0%{
        opacity: 0;
        transform: rotate(0deg) translate( 25px, -1px );
    }

    50%{
        opacity: 1;
        transform: rotate(5deg) translate( 2px , -2px);
    }

    75%{
        opacity: 0;
        transform: rotate(10deg) translate( -2px , -2px);
    }

    87.5{
         opacity: 1;
         transform: rotate(50deg) translate( -20px , -20px);
    }

    100%{
        opacity: 0;
        transform: rotate(0deg) translate( -0px , -0px);
    }
}


#button-style {
    border:none;
    padding:0;
    margin:0;
    font-size:20px;
    color:white;
    background-color:transparent;
    text-shadow:  1px 1px 20px red, 0 0 1em yellow;
    cursor: pointer;
}

#button-style:hover {text-shadow: 2px 2px 2px;}


.neon {
    width: 2px;
    height: 100%;
    position: absolute;

    animation: neon 7s infinite;
}

@keyframes neon {

   0%{
        background: red;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    25%{
        background: purple;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    37%{
        background: violet;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        100px 0 25px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    50%{
        background: yellow;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        90px 0 15px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    75% {
        background: green;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        1px 0 10px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    100%{
        background: blue;
        box-shadow:
        0 0 7px #fff,
        500px 0 50px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }
}

@media screen and (max-width: 397px) {
    .discord {
        position: sticky;
    }

    .toggle-btn {    #sidebar {
        margin-top: 40px;

    }
        position: sticky;
        width: 33px;
    }

    #sidebar {
        margin-top: 40px;
    }

    .neon {
        height: 1150px;
    }
}

@media screen and (max-width: 382px) {
        #sidebar {
            margin-top: 100px;
        }
}



.light-theme {
    background-image: url(anime-site/gray.jpg);
    background-repeat: no-repeat;
    background-size: 100% 140%;
}

.light-theme  li {
    color: white;
    text-shadow: 1px 1px 2px violet, 0 0 1em violet, 0 0 0.2em violet;
}

.light-theme .aboutMeLi li{
    color: white;
    text-shadow: 1px 1px 2px violet, 0 0 1em violet, 0 0 0.2em violet;
}

.light-theme .im, .aboutMe, .mySkills, .contactWithMe {
    color: white;
    text-shadow: 1px 1px 2px violet, 0 0 1em violet, 0 0 0.2em purple;
}

.light-theme hr {
    color: white;
    box-shadow: 1px 1px 2px violet, 0 0 1em violet, 0 0 0.2em purple;
}


