.all {
    max-width: 1000px;
    margin-top: 10px;
    margin-left: 10px;
}

.background {
    width: 100%;
    background-image: url(anime1.jpg);
    background-repeat: no-repeat;
    background-size: 400px 200px;
}

.myPhoto {
    transform: translate(10%, 50%);
    border-radius: 50%;
    width: 150px;

}

hr {
    box-shadow: #FC0 1px 0 10px;
    border: 1px solid #751370;
}

.im {
    margin-top: 50px;
    margin-left: 25px;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    font: 1.5em Georgia, serif;
    font-size: 40px;
}

.mySkills {
    font-size: 25px;
    margin-left: 20px;

    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.mySkillsLi li {
    margin-left: 20px;
    padding-bottom: 7px;
    font-size: 23px;

    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

.aboutMe {
    margin-left: 20px;
    font-size: 25px;

    text-shadow: #FC0 3px 5px 5px;
}

.aboutMeLi li {
    margin-left: 20px;
    padding-bottom: 7px;
    font-size: 23px;

    text-shadow: #FC0 3px 5px 5px;
}

.contactWithMe {
    margin: 8px;
    font: 1.5em Georgia, serif;

    text-shadow: 1px 1px 2px red, 0 0 1em yellow, 0 0 0.2em red;
}

.youtube {
    margin-left: 10px;
    text-decoration: none;
    position: absolute;
    color: red;

    animation: youtube 5s infinite;
}

@keyframes youtube {
    0%{
        font-size: 25px;
    }

    50%{
        font-size: 28px;
    }

    100%{
        font-size: 25px;
    }
}

a:hover {
    font: 1.5em Georgia, serif;
    font-size: 35px;
    color: white;
    text-shadow: 1px 1px 2px purple, 0 0 1em yellow, 0 0 0.2em red;
}

.arrow-left span {
    display: inline;
    width: 10px;
    height: 10px;
    position: absolute;
    animation: arrow-left 1s infinite;
}

@keyframes arrow-left {

    0%{
        opacity: 0;
        transform: rotate(65deg) translate(-1px,-1px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(1px,1px);
    }
}

.discord {
    margin-left: 135px;
    text-shadow: 1px 1px 2px , 0 0 1em , 0 0 0.2em ;
    text-decoration: none;
    position: absolute;
    color:  #5865F2;

    animation: discord 5s infinite;
}

@keyframes discord {
    0%{
        font-size: 25px;
    }

    50%{
        font-size: 28px;
    }

    100%{
        font-size: 25px;
    }
}

.arrow-left span {
    display: inline;
    width: 10px;
    height: 10px;
    border-bottom: 3px solid #ff3140;
    border-left: 3px solid #ff3140;
    position: absolute;
    margin: 10px;

    animation: arrow-left2 1s infinite;
}

@keyframes arrow-left2 {

    0%{
        opacity: 0;
        transform: rotate(65deg) translate(-1px,-1px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(1px,1px);
    }
}



.neon {
    width: 5px;
    height: 740px;
    position: absolute;

    animation: neon 5s infinite;
}

@keyframes neon {

   0%{
        background: red;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    25%{
        background: purple;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    37%{
        background: violet;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        100px 0 25px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    50%{
        background: yellow;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        90px 0 15px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    75% {
        background: green;
        box-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        1px 0 10px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }

    100%{
        background: blue;
        box-shadow:
        0 0 7px #fff,
        500px 0 50px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
    }
}

@media screen and (max-width: 800px) {
    .contactWithMe, .aboutMeLi li, .mySkillsLi li {
        font-size: 15px;
    }
    .im {
        font-size: 25px;
    }

    .youtube, .discord {
        margin-top: -7px;
     }
}
